#root {
  max-width: 412px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.error {
  color: red;
}

table.list td {
  border: solid gray 1px;
  padding: 5px 10px;
  min-width: 50px;
}

table.list {
  border-collapse: collapse;
}

div.center {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  cursor: pointer;
}